<ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="account.email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="account.password" type="password"></ion-input>
      </ion-item>
      <ion-row>
        <button  ion-button (click)="register()" color="custom">Register</button>
      </ion-row>
    </ion-card-content>
  </ion-card>
